@mixin h1-typo {
  font-family: "Space Mono", "sans-serif";
  font-size: 26px;
  line-height: 38px;
}

@mixin h2-typo {
  font-family: "Space Mono", "sans-serif";
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

@mixin h3-typo {
  font-family: "Space Mono", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin h4-typo {
  font-family: "Space Mono", "sans-serif";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

@mixin body-typo {
  font-family: "Space Mono", "sans-serif";
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

@mixin light-mode {
  color: $lgt-secondary-bg;
  // to add later and also to modify the color agai
}
