// Colors
//Light Mode
$lgt-primary-bg: #f6f8ff;
$lgt-secondary-bg: #fefefe;
$lgt-typo-primary: #2b3442;
$lgt-typo-secondary: #697c9a;
$lgt-typo-search: #4b6a9b;

// Dark Mode
$drk-primary-bg: rgb(20, 2, 47);
$drk-secondary-bg: #1e2a47;
$drk-typo: #ffffff;

// Generic color
$btn-color: #0079ff;
